body {
  background-color: #2d3436;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}

.dot {
  border-radius: 100%;
  background-color: white;
}

img {
  display: none;
}

canvas {
  display: none;
}