html {
  overflow: hidden;
}
body {
  overflow: hidden;
  /* background-color: #2d3436; */
}

#root {
  display: flex;
  flex-direction: column;
}

#main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #2d3436;
}

#dot-wrapper {
  position: relative;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  background-color: transparent !important;
}

.dot {
  border-radius: 100%;
  background-color: white;
}

img {
  display: none;
}

canvas {
  display: none;
}

#profile-wrapper {
  position: relative;
  width: 100vw;
  height: 125px;
  background-color: #222;
  overflow-x: auto;
  overflow-y: hidden;
}

#profile-slide {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  transition: transform 0.3s;
}

.profile {
  display: inline-block;
  margin: 25px;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  filter: brightness(0.5);
  transition: background-size 0.3s, filter 0.3s;
}

.profile.selected {
  filter: brightness(1);
}

.profile:hover {
  filter: brightness(1);
}
