* {
  font-family: "Noto Sans KR", sans-serif;
}

html {
  overflow: hidden;
}
body {
  overflow: hidden;
  font-family: "Noto Sans KR", sans-serif;
  touch-action: none;
  background-color: #2d3436;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#main-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #2d3436;
}

#dot-wrapper {
  overflow: hidden;
}

#dot-subwrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  background-color: transparent !important;
  width: 50%;
  height: 50%;
}

.dot {
  border-radius: 100%;
  width: 50%;
  height: 50%;
  background-color: white;
}

img.none {
  display: none;
}

canvas {
  display: none;
}

#profile-wrapper {
  position: relative;
  width: 100vw;
  height: 125px;
  background-color: #222;
  overflow-x: auto;
  overflow-y: hidden;
}

#profile-slide {
  position: absolute;
  display: flex;
  flex: 0%;
  top: 0;
  left: 0;
  transition: transform 0.3s;
}

.prev {
  width: 55px;
  height: 55px;
  margin: 35px 10px 35px 25px;
  border-radius: 100%;
  cursor: pointer;
  background-color: #2d3436;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.prev:hover {
  background-color: #636e72;
}

.prev img {
  width: 50px;
  margin-right: 2.5px;
}

.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  width: 125px;
  height: 75px;
  border-radius: 10%;
  overflow: hidden;
  cursor: pointer;
}

@keyframes upNdown {
  0% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(10%);
  }
}

.profile.group {
  animation: upNdown 1s ease-in-out 1s infinite alternate both;
}

.profile.group:hover {
  animation-play-state: paused;
}
.profile .sub {
  color: #ecf0f1;
  z-index: 10;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile .background {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  transition: width 0.3s, height 0.3s, filter 0.3s;
}

.profile:hover .background {
  filter: brightness(1);
  width: 150%;
  height: 150%;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading img {
  width: 80%;
  height: 80%;
  animation: loading 3s linear 0s infinite reverse both;
}

#modal-popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

#modal-popup-wrapper .background {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-popup {
  position: relative;
  z-index: 99;
  color: #333;
  background-color: #ecf0f1;
  min-width: 50%;
  border-radius: 5px;
  overflow: hidden;
  z-index: 110;
}

.modal-popup .title-wrapper {
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: #e74c3c;
  padding: 10px 25px;
}
.modal-popup .description-wrapper {
  padding: 25px;
}

.modal-popup .button-wrapper {
  border-top: 1px solid rgb(214, 214, 214);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
}

input[type="button"] {
  font-size: 0.9rem;
  border: none;
  padding: 0 5px;
  color: #666;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0;
}

input[type="button"]:hover {
  color: #c0392b;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  #profile-wrapper {
    height: 80px;
  }

  .profile {
    width: 75px;
    height: 50px;
    margin: 15px;
  }

  .profile .sub {
    font-size: 0.5rem;
  }

  .prev {
    width: 30px;
    height: 30px;
    margin: 25px 10px 25px 25px;
  }

  .prev img {
    width: 30px;
    margin-right: 0;
  }
}
